part=xc7z020clg400-1

[hls]
flow_target=vitis
package.output.format=xo
package.output.syn=1
clock=125MHz
# ===== Unit test: conv2d_hls =====
#syn.top=conv2d_hls
syn.file=../hls/hw_cnn.cpp
syn.file=../hls/hw_cnn.h
syn.file=../hls/conv2d/conv2d.cpp
syn.file=../hls/conv2d/conv2d.h
#tb.file=../hls/conv2d/tb_conv2d.cpp
tb.file=../src/cnn.cpp
tb.file=../src/kernels.cpp
tb.file=../utils/cnn_utils.cpp
tb.file=../utils/nets.cpp
tb.file=../utils/tensor.cpp
syn.cflags=-I../hls
tb.cflags=-I../src -I../utils -I../hls -I../hls/conv2d

# ===== Whole-net convEngine (uncomment to restore full-network run) =====
csim.argv=t
cosim.argv=t
syn.top=convEngine
tb.file=../src/inference.cpp
tb.file=../utils/bmp2tensor.cpp