part=xc7z020clg400-1

[hls]
flow_target=vitis
package.output.format=xo
package.output.syn=1
clock=125MHz

#uncomment module you want to test


#------TOP CNN-------
#syn.top=convEngine
syn.file=../hls/hw_cnn.cpp
syn.file=../hls/hw_cnn.h
#tb.file=../src/inference.cpp
tb.file=../src/cnn.cpp
tb.file=../src/kernels.cpp
tb.file=../utils/bmp2tensor.cpp
tb.file=../utils/cnn_utils.cpp
tb.file=../utils/nets.cpp
tb.file=../utils/tensor.cpp


#------CONV2D-------
syn.top=conv2d_hls
syn.file=../hls/conv2d/conv2d.cpp
syn.file=../hls/conv2d/conv2d.h
tb.file=../hls/conv2d/tb_conv2d.cpp


#TODO: include other modules here => relu, maxPool, etc

syn.cflags=-I../hls
tb.cflags=-I../src -I../utils
