part=xc7z020clg400-1

[hls]
flow_target=vitis
package.output.format=xo
package.output.syn=1

clock=125MHz

#syn.file=../hls/hw_cnn.cpp
#syn.file=../hls/hw_cnn.h

tb.file=../src/cnn.cpp
tb.file=../src/kernels.cpp
tb.file=../src/inference.cpp
tb.file=../utils/bmp2tensor.cpp
tb.file=../utils/cnn_utils.cpp
tb.file=../utils/nets.cpp
tb.file=../utils/tensor.cpp

tb.cflags=-I../src -I../utils
syn.cflags=-I../hls 
# syn.top= convEngine
