platform=platform/pynqz2/pynqz2_platform_2025_2.xpfm

save-temps=1


[clock]
defaultFreqHz=125000000

[connectivity]
nk=convEngine:1
# one HP port per m_axi bundle (Zynq-7020 has HP0..HP3): xin / wbuf / bbuf / zout
sp=convEngine_1.m_axi_gmem0:HP0
sp=convEngine_1.m_axi_gmem1:HP1
sp=convEngine_1.m_axi_gmem2:HP2
sp=convEngine_1.m_axi_gmem3:HP3
